<!-- REVISION HISTORY
 * Update Task page
 * @version 0.01
 * Version History
 * [09/13/2015] 0.01 - Jacquelyn Amaya - Display details of selected task | Update Task Today function
-->
<div class="container">
  <div class="row">
    <div class="col s12 m9 l10">
      <div id="right" class="section scrollspy">
        <h2 class="header"><img src="/images/edit.jpg" width="5%">&nbsp;&nbsp;Update Task</h2>
        <p class="caption">Update today's tasks.</p>

        <table class="unfinished_tasks">
          <tbody>
            <tr>
              <td><b>Task Name</b></td>
              <td>{{ taskName }}</td>
            </tr>

            <tr>
              <td><b>Phase</b></td>
              <td>{{ taskPhase }}</td>
            </tr>

            <tr>
              <td><b>Set Spent Time</b></td>
              <td>
                <div class="row">
                <div class="input-field col s6">
                <input id="task_name" type="text" class="validate" ng-model="taskSpentHours">     
                </div>
              </div>
            </td>
            </tr>

            <tr>
              <td><b>Status of Task</b></td>
              <td>
                <div class="row">
                    <div class="col s6">
                      <select class="browser-default" ng-model="taskStatus">
                        <option value="" disabled selected>Select Status</option>
                        <option value="Pending">Pending</option>
                        <option value="Done">Done</option>
                      </select>
                    </div>
                  </div>
                </td>
              </tr>
          </tbody>
        </table>
		
        <a href="" ng-click="updateTaskToday()" class="waves-effect waves-light btn"><i class="material-icon left">edit</i>Update Task</a>
        &nbsp;&nbsp;&nbsp;
        <a href ="" ng-click="backToTodaysTasks()" class="waves-effect waves-light btn"><i class="material-icon left">clear_all</i>Go Back to Today's Tasks</a>
        <br>
  </div>
</div>