<!-- REVISION HISTORY
 * Completed Tasks Page
 * @version 0.01
 * Version History
 * [09/08/2015] 0.01 - Janna Tapitha S. Pedrano	- Display all completed tasks
-->
<div class="container">
  <div class="row">
    <div class="col s12 m9 l10">
      <div id="right" class="section scrollspy">      
        <h2 class="header" style="color: green;"><img src="/images/view.jpg" width="5%">&nbsp;&nbsp;Completed Tasks</h2>
          <div class="row">
        	<div class="input-field col s6">
              <input id="search_bar" type="text" class="validate" ng-model="$.search">
              <label for="search_bar"><i class="material-icon-legend left">search</i>Search Task Name</label>
            </div>
        </div>
          <table class="finished_tasks table_wrapper table_even" id="finished_tasks">
          <thead>
            <tr>
                <th data-field="status"><center>Task Name</center></th>
                <th data-field="name"><center>Phase</center></th>
                <th data-field="time_allotment"><center>Total Spent Time</center></th>
                <th data-field="start_date"><center>Start Date</center></th>
                <th data-field="due_date"><center>Date of Completion</center></th>
            </tr>
          </thead>
          <tbody>
          <tr ng-repeat="task in tasks | filter: $.search"  ng-show="{{task.finished}}">
		        <td  class="taskName"> {{task.name}}</td>
		         <td><center> {{task.phase}} </center></td>
		         <td><center> {{task.spentHours | number:2}} hrs </center></td>
		         <td><center> {{task.startDate}}</center></td>
		         <td><center> {{task.dueDate}}</center></td>
		  </tr>
          </tbody>
          </table>
      </div>
    </div>
  </div>
</div>    