<div class="container">
  <div class="row">
    <div class="col s12 m9 l10">
      <div id="right" class="section scrollspy">
        <h2 class="header"><img src="../images/add.jpg" width="5%">&nbsp;&nbsp;Create Task</h2>
        <p class="caption">Complete all needed information to add task.
          <div class="row">
            <form class="col s12">
              <div class="row">
              <!-- 0.0.1 mod start -->
                <div class="input-field col s6">
                <!-- 0.0.1 end start -->
                  <input name="name" type="text" class="validate" id="txtName" ng-model="taskName">
                  <label class="active" for="task_name">Task Name</label>
                </div>
              </div>

              <div class="row">
                <div class="col s6">
                  <select class="browser-default" name="phase" id="selectPhase" ng-model="taskPhase">
                    <option value="" disabled selected>Choose Phase</option>
                    <option value="Testing" name="testing">Testing</option>
                    <option value="Coding" name="coding">Coding</option>
                    <option value="Design" name="design">Design</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s6">
                  <input name="estHours" type="text" id="txtEstHours" class="validate" placeHolder="number of hours" ng-model="taskEstHours">
                  <label class="active" for="txtEstHours" >Estimated Time Allotment</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s6">
                  <!-- <input id="startDate" name="startDate" type="date" class="datepicker picker__input" placeholder="Start Date" ng-model="taskStartDate"> -->
                  <input name="startDate" type="text" id="startDate" class="validate" placeHolder="Start Date" ng-model="taskStartDate"/>
                <label for="startDate"></label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s6">
                  <!-- <input id="dueDate" name="dueDate" id="dueDate" type="date" class="datepicker picker__input" placeholder="Due Date" ng-model="taskDueDate"> -->
                  <input name="dueDate" type="text" id="dueDate" class="validate" placeHolder="Due Date" ng-model="taskDueDate"/>
                 <label for="dueDate"></label>
                </div>
              </div>

             <a class="waves-effect waves-light btn" id="btnCreateTask" ng-click="sendPost()"><i class="material-icon left">note_add</i>Create Task</a>
             <!-- <button class="btn waves-effect waves-light" type="submit"  value="create_task" id="btnCreateTask"><i class="material-icon left">note_add</i>Create Task</button> -->
              &nbsp;&nbsp;&nbsp;
              <button class="waves-effect waves-light btn" name="clearField" value="Cancel"><i class="material-icon left" id="btnClearAllInfo">clear_all</i>Clear Fields</button>
            </form>
          </div>
        </p>
        <br>
  </div>
</div>