<!-- REVISION HISTORY
 * Create Task page
 * @version 0.01
 * Version History
 * [09/13/2015] 0.01 - Jacquelyn Amaya - Clear Fields function
 * [09/15/2015] 0.02 - Vine Deiparine - Validations
 * [09/20/2015] 0.03 - David Ramirez  - Added datepicker function
 * [09/26/2015] 0.06 - David Ramirez  - Display ERROR message in search task if task is not found (AngularJS)
-->
<div class="container">
  <div class="row">
    <div class="col s12 m9 l10">
      <div id="right" class="section scrollspy">
        <h2 class="header"><img src="/images/add.jpg" width="5%">&nbsp;&nbsp;Create Task</h2>
        <p class="caption">Complete all needed information to add task.</p>
          <div class="row">
            <form class="col s12" name="createTask" novalidate ng-submit="sendPost()">
              <div class="row">
                <div class="input-field col s6">
                  <input name="name" type="text" class="validate" id="txtName" ng-model="taskName" ng-minlength=3 ng-maxlength=50 required>
                  <label class="active" for="task_name">Task Name</label>
                  <div class="error-container" ng-show="(createTask.name.$dirty && createTask.name.$invalid && createTask.submitted) || (createTask.name.$pristine && createTask.name.$invalid && createTask.submitted)">
                  	<small class="error" ng-show="createTask.name.$error.required" style="color: red;">Task Name is required.</small>
                  	<small class="error" ng-show="createTask.name.$error.minlength" style="color: red;">Task Name is required to be at least 3 characters.</small>
                  	<small class="error" ng-show="createTask.name.$error.maxlength" style="color: red;">Task Name cannot be longer than 50 characters.</small>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col s6">
                  <select class="browser-default" name="phase" id="selectPhase" ng-model="taskPhase" required>
                    <option value="" disabled selected>Choose Phase</option>
                    <option value="Testing" name="testing">Testing</option>
                    <option value="Coding" name="coding">Coding</option>
                    <option value="Design" name="design">Design</option>
                  </select>
                  <div class="error-container" ng-show="(createTask.phase.$dirty && createTask.phase.$invalid && createTask.submitted) || (createTask.phase.$pristine && createTask.phase.$invalid && createTask.submitted)">
                  	<small class="error" ng-show="createTask.phase.$error.required" style="color: red;">Task Phase is required.</small>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s6">
                  <input name="estHours" type="number" id="txtEstHours" class="validate" placeHolder="number of hours" ng-model="taskEstHours" required integer />
                  <label class="active" for="txtEstHours" >Estimated Time Allotment</label>
                  <div class="error-container" ng-show="(createTask.estHours.$dirty && createTask.estHours.$invalid && createTask.submitted) || (createTask.estHours.$pristine && createTask.estHours.$invalid && createTask.submitted)">
                  	<small class="error" ng-show="createTask.estHours.$error.required" style="color: red;">Estimated Time allotment is required.</small>
                  	<small class="error" ng-show="createTask.estHours.$error.integer" style="color: red;">The value is invalid.</small>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s6">
                  <input name="startDate" type="text" id="startDate" class="validate" placeholder="MM/DD/YYYY" ng-model="taskStartDate" required/>
                  <label class="active" for="startDate">Start Date</label>
                  <div class="error-container" ng-show="(createTask.startDate.$dirty && createTask.startDate.$invalid && createTask.submitted) || (createTask.startDate.$pristine && createTask.startDate.$invalid && createTask.submitted)">
                  	<small class="error" ng-show="createTask.startDate.$error.required" style="color: red;">Start Date is required.</small>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s6">
                  <input name="dueDate" type="text" id="dueDate" class="validate" placeholder="MM/DD/YYYY" ng-model="taskDueDate" required/>
                 <label class="active" for="dueDate">Due Date</label>
                 <div class="error-container" ng-show="(createTask.dueDate.$dirty && createTask.dueDate.$invalid && createTask.submitted) || (createTask.dueDate.$pristine && createTask.dueDate.$invalid && createTask.submitted)">
                  	<small class="error" ng-show="createTask.dueDate.$error.required" style="color: red;">Due Date is required.</small>
                 </div>
                </div>
              </div>

             <!-- <a class="waves-effect waves-light btn" id="btnCreateTask" ng-click="sendPost()"><i class="material-icon left">note_add</i>Create Task</a> -->
             <button class="btn waves-effect waves-light" type="submit" value="create_task" id="btnCreateTask"><i class="material-icon left">note_add</i>Create Task</button>
              &nbsp;&nbsp;&nbsp;
              <button ng-click="clearFields()" class="waves-effect waves-light btn" name="clearField" value="Cancel"><i class="material-icon left" id="btnClearAllInfo">clear_all</i>Clear Fields</button>
            </form>
          </div>
        <br>
      </div>
    </div>
  </div>
</div>

<script>
$(function() {
    $( "#startDate" ).datepicker();
    $( "#dueDate" ).datepicker();
  });
</script>
