<!-- REVISION HISTORY
 * Masterlist page
 * Version History
 * [09/08/2015] 0.01 - David Ramirez   		- Display tasks and completed tasks
 * [09/08/2015] 0.02 - Prince Niko Garces   - Search tasks and filter by phase
 * [09/13/2015] 0.03 - Jacquelyn Amaya 		- Replace Legends with tooltips for icons 
 											- Added "Add Task Today" anchor tag 
 											- Edit Task function
 											- Added "All" option for filter by phase
 											- Display Total Spent Time instead of Estimated Hours
 * [09/15/2015] 0.04 - Janna Tapitha		- Separated screen for List of Tasks and Completed Tasks
 											- Aligned the input field for search and the dropdown for filtering phase
 											- Added Create New Task button linking to the Create Task Page
 * [09/15/2015] 0.05 - Jacquelyn Amaya 		- Removed check icon to finish task
 * [09/26/2015] 0.06 - David Ramirez	    - Display ERROR message in search task if task is not found (AngularJS)
 * [09/28/2015] 0.07 - Jacquelyn Amaya 		- Display error message from slim3 controller
-->
<div class="container">
  <div class="row">
    <div class="col s12 m9 l10">
      <div id="right" class="section scrollspy">
        <h2 class="header"><img src="/images/view.jpg" width="5%">&nbsp;&nbsp;List of Tasks</h2>
        <div class="row">
            <div class="input-field col s6">     
              <input id="search_bar" type="text" class="validate" data-ng-model="search.name">
              <label for="search_bar"><i class="material-icon-legend left">search</i>Search Task Name</label>
            </div>
            <div class="input-field col s6">
             	 <select class="browser-default" ng-model="searchByPhase">
                 	<option value="" disabled>Filter by Phase</option>
                    <option value="">All</option>
                    <option value="Testing">Testing</option>
                    <option value="Coding">Coding</option>
                    <option value="Design">Design</option>
                 </select>
            </div>   
            <div class="col s6">
				<a class="btn-floating btn-large waves-effect waves-light red right" href="#/tasks/add" title = "Create New Task">
					<i class="material-icon">add</i>
				</a>
				
        	</div>
        </div>
      <div class="table_wrapper table_even">
		  <table class="unfinished_tasks" id="tasks"> <!-- mod start 0.0.2 -->
          <thead>
            <tr>
                <th data-field="name"><center>Task Name</center></th>
                <th data-field="phase"><center>Phase</center></th>
                <th data-field="time_allotment"><center>Estimated Time Allotment</center></th>
                <th data-field="start_date"><center>Spent Time</center></th>
				<th data-field="action"><center>Action</center></th>
            </tr>
          </thead>
          <tbody> 
			<tr data-ng-repeat="task in values = (tasks | filter:searchByPhase | filter:search | orderBy:'name')"  ng-hide="{{task.finished}}">
				<input type="hidden" class="id" name="id" value="{{ task.id }}"/>
					<td  class="taskName">{{ task.name }}</td>
					<td class="phase"><center>{{ task.phase }}</center></td>
					<td class="estHours"><center>{{ task.estHours | number : 2}} hrs</center></td>
					<td class="startDate"><center>{{ task.spentHours | number : 2 }} hrs</center></td>
					<td><center>
						<a href="" ng-click="addTaskToday(task.id)" title="Add to Pending Tasks"><i class="material-icon-action">add</i></a>
						<a href="" ng-click="editTask(task)" title="Edit Task"><i class="material-icon-action">assignment</i></a>
						<a  href="" ng-click="deleteTask(task.id)" title="Delete Task"><i class="material-icon-action">delete</i></a>
					</center>
					</td>
  			</tr>
  			<tr>
				<center>
			  		<td ng-if="errorMessage!=null" colspan="5">
			  			<p style="color: red;">{{errorMessage}}</p>
			  		</td>
		  		</center>
		    </tr>
		</tbody>
        </table>
        </div>
        <br>
  </div>
</div>
</div>
</div>




